/*
 *  * Style tweaks
 *   * --------------------------------------------------
 *    */

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 30px;
}
footer {
  padding: 30px 0;
}
h1, h2, h3, h4, h5, h6 {
  color: #82b548;
}
.panel-title{
  color: #49beda;
}
.site-subtitle{
  color: orange
}
.article {
  margin-bottom: 30px;
  text-align: justify;
}
.article a.more{
  float: right;
}
.line-separator{
  border-top: 2px solid #e5e5e5;
  clear: both;
  display: block;
  position: relative;
}
.line-separator:after{
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 100%;
  background: -webkit-gradient(linear,0 50%,100% 50%,color-stop(0,#fff),color-stop(3%,#fff),color-stop(10%,rgba(255,255,255,0)),color-stop(90%,rgba(255,255,255,0)),color-stop(100%,#fff));
}

/* *  * Off Canvas
 *   * --------------------------------------------------
 *    */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
